body {
}

br {
  margin: -5px;
}
.vertical-line {
  background-color: #eeeeee;
  width: 2px;
  height: 550%;
  position: absolute;
  top: 0;
  z-index: -1;
}

p {
  font-size: 18px;
  font-family: 'Roboto-light', sans-serif;
}

#strona-block {
  position: absolute;
  top: 0;
  left: 36.1%;
  height: 40%;
  width:44.65%;
  background-color:rgb(118,118,118);
  background-image: url(assets/img/library.jpg);
}

#strona-text {
  width:25%;
  background-color:white;
  padding:1%;
  position:absolute;
  top:20%;
  right:20%;
}

#strona-heading {
  position:absolute;
  top:30%;
  left:13%;
}

#ok-content {
  position: absolute;
  top: 45%;
  left: 24.5%;
  margin-top:5%;
  max-width:57%;
}

#first-line {
  left: 12%;
}

#second-line {
  left: 24.25%;
}

#third-line {
  left: 36.1%;
}

#fourth-line {
  left: 47%;
}

#fifth-line {
  left: 57.5%;
}

#sixth-line {
  left: 68%;
}

#seventh-line {
  left: 80.7%;
}

#heading-logo {
  position:absolute;
  top:-50px;
  left:900px;
  max-height:100px;
}

img {
  height:400px;
}

.col-md-3.col-sm-4.item {
  margin-left:5%;
}

#team {
  margin-top:5%;
}


#main-content heading img {
  max-height:50px;
}

.lawyer-heading {
  font-weight:bold;
  width:20%;
}

#border-1 {
  display: inline-block;
  width: 56.5%;
  margin-left: 24.25%;
  margin-top: 5%;
  padding-bottom: 5%;
}

#border-2 {
  width: 56.5%;
  margin-left: 24.25%;
  padding-top: 5%;
  padding-bottom: 15%;
}

#first-arrow {
  height:100px;
  width:100px;
  position:absolute;
  top:52%;
  left:12%;
}

#second-arrow {
  height:100px;
  width: 100px;
  position: absolute;
  top:185%;
  left:12%;
}

#third-arrow {
  -webkit-transform: rotate(-180deg);
  height: 100px;
  width: 100px;
  position: absolute;
  top: 540%;
  left: 12%;
}

#zespol-text {
  -webkit-transform: rotate(-90deg);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 125%;
  left: 20%;
}

#team-content {
  margin-top: 55%;
  max-width: 63.6%;
  margin-left: 24.25%;
  margin-bottom: 20%;
}

#team-content .col-sm-4 .row img {
  min-height: 10%;
}

.team-text {
  width: 60%;
  font-size: 18px;
}

.tel-email {
  color: #6abcce;
  font-size: 14px;
  margin-left: -10px;
}

#agnieska{
  margin-left: 50%;
}

.more {
  cursor: pointer;
  color: #cfb691;
  text-align: center;
}

#zakres {
  width: 70%;
  margin-left: 20%;
  font-family: 'Roboto', sans-serif;
 }

#zakres .row {
  margin-left: 4%;

}

#zakres h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

#zakres .first-row {
  width: 250px;
  margin-left: .2%;
}

#zakres .middle-row {
  margin-left: 14.5%;
  width: 240px;
}

.last-row {
  width: 270px;
  margin-left: 12.5%;
}

#zakres-heading {
  text-align: left;
  margin-left: -.5%;
  width: 88%;
}

#zakres-heading h2 {
  font-size: 42px;
  font-weight: bold;
  font-family:'Cormorant Garamond', serif;
  padding-left: 7.5%;
}

#zakres-text {
  margin-left: 7.8%;
}

#zakres h3 {
  color: #cfb691;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

#zakres-side-heading {
  position: absolute;
  top: 250%;
  left: 13%;
}

.navigation-clean {
  font-size:20px;
  background:#fff;
  padding-top:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}


#map {
  margin-left: 24.3%;
  height: 790px;
  border: 1px solid black;
}

#kontact-details {
  background-color: #f9f9fb;
  padding-left: 15px;
  position: absolute;
  top: 470%;
  left: 24.35%;
  min-width: 950px;
  height: 25%;
}

#kontact-details h3 {
  font-family: 'Cormorant Garamont', serif;
  font-weight: bold;
  font-size: 42px;
}

#kontact-team {
  max-width: 950px;
  background: white;
  position: absolute;
  top: 490%;
  left: 24.35%;
  padding-left: 10px;
  font-size: 14px;
}


#kontact-team h3 {
  font-size: 20px;
  font-weight: bold;
}

#kontact-team img {
  max-height: 100px;
}

.adwokat {
  font-size: 14px;
  color: #6abcce;
}

#kontact-image {
  height: 297px;
  position: absolute;
  top: 440%;
  left: 24.3%;
}

#kontact-side-heading {
  position: absolute;
  top: 420%;
  left: 13%;
}

@media only screen and (max-width : 768px) {

  p {
    font-size: 14px;
  }
  
  #strona-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.law.ufl.edu/law/wp-content/uploads/2013/01/library-1.jpg") !important;
    visibility: hidden;
  }

  #strona-block-mobile {
    background-image: url('https://www.law.ufl.edu/law/wp-content/uploads/2013/01/library-1.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
  }
  
  #strona-text {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 75%;
    height: 40%;
  }

  #strona-text p {
    font-size: 20px;
  }

  #first-arrow {
    height: 105px;
    width: 103px;
    position: absolute;
    top: 54.1%;
    left:0;
  }

  #second-arrow {
    position: absolute;
    top: 218%;
    left: 0;
    height: 105px;
    width: 103px;
  }

  #third-arrow {
    position: absolute;
    top: 900%;
    left: 0;
    height: 100px;
    width: 100px;
  }

  #ok-content {
    margin-top: 100%;
    margin-left: 5%;
  }

  #team-content {
    margin-top: 350%;
    margin-left: 35%;
  }

  .vertical-line, #strona-heading {
    visibility: hidden;
  }

  #kontact-details {
    margin-top: 1150%;
  }

  #kontact-team {
    position: absolute;
    top: 1215%;
    left: 0;
    width: 100%;
  }

  #map {
    visibility: hidden;
  }

  #nav-logo {
    margin-right: 50%; 
  }
}
