#heading-logo {
  position:absolute;
  top:52.5%;
  left:74%;
  max-height:100px;
}

img {
  height:400px;
}

.col-md-3.col-sm-4.item {
  margin-left:5%;
}

#team {
  margin-top:5%;
}

#main-content heading img {
  max-height:50px;
}

.lawyer-heading {
  font-weight:bold;
  width:20%;
}

#border {
  height: 5px;
  width: 165%;
  margin-left: 7.5%;
  background-color: purple;
}

#second-arrow {
  height:100px;
  width: 100px;
  position: absolute;
  top:150%;
  left:12%;
}

#zespol-text {
  -webkit-transform: rotate(-90deg);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 125%;
  left: 20%;
}

#zakres {
  margin-left: 7.5%;
}

#zakres h3 {
  margin-right: 7.5%;
}


#zakres-text {
  color: #000000;
  width: 150%;
  font-family: 'Roboto:300', sans-serif;
}

#zakres-list {
  width: 180%;
}

#zakres-list p {
  font-family: 'Roboto:300', sans-serif;
  color: #000000;
}

#zakres-table tr td {
  padding: 5%;

}
